# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# SQLite databases
*.db
app/database/*.db
tests/*.db

# Alembic (if any files remain)
alembic/
alembic.ini

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
